<footer>
    <div class="container">
        <p>
            All content copyright {{@blog.title}}. 2015 All rights reserved.<br/>
            Designed by <a href="http://www.messier219.com" target="_blank">Messier219</a>.
        </p>
    </div>
</footer>
