<div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav">
        {{#foreach navigation}}
            <li><a href="{{url absolute="true"}}" class="hvr-fade">{{label}}</a></li>
        {{/foreach}}

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <form action="//schematical.us6.list-manage.com/subscribe/post?u=3565b8df39d26f84645b27784&amp;id=bdfdf1e26d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>


                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Get emailed about new survival fiction" required>
              		<input type="text" name="b_3565b8df39d26f84645b27784_bdfdf1e26d" tabindex="-1" value="">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default"></div>

            </form>
		</li>

    </ul>

</div>
