<div class="collapse navbar-collapse" id="navbar" xmlns="http://www.w3.org/1999/html">
    <ul class="nav navbar-nav navbar-left">
        {{#foreach navigation}}
            <li><a href="{{url absolute="true"}}" class="hvr-fade">{{label}}</a></li>
        {{/foreach}}

    </ul>

            <form action="//schematical.us6.list-manage.com/subscribe/post?u=3565b8df39d26f84645b27784&amp;id=bdfdf1e26d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="navbar-form navbar-right " target="_blank" novalidate>

                <div class="input-group">
                    <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Get emailed about new survival fiction" required>
					  <span class="input-group-btn">
						<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
					  </span>
				</div>
				<input type="hidden" name="b_3565b8df39d26f84645b27784_bdfdf1e26d" tabindex="-1" value="" style="display: none;">
            </form>


</div>
